:root {
  --clr-orange: rgb(231, 158, 22);
  --clr-orange-dark: rgb(204, 147, 40);
  --clr-grey: rgb(65, 64, 64);
  --pad-modal: 0.125rem 1rem;
}

#add-project-btn {
  background-color: var(--clr-orange);
  background-image: linear-gradient(to top left,
                                  rgba(0, 0, 0, .2),
                                  rgba(0, 0, 0, .2) 30%,
                                  rgba(0, 0, 0, 0));
  border: 0;
  border-radius: 0.5rem;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
  color: var(--clr-grey);
  font-size: 1rem;
  line-height: 2.5;
  padding: 0 1.5rem;
  text-shadow: 1px 1px 1px #111;
}

#add-project-btn:hover {
  background-color: var(--clr-orange-dark);
}

#add-project-btn:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
              inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.modal {
  background-color: rgb(0,0,0);
  background-color: rgb(0,0,0,0.4);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.show-form {
  display: block;
}

.modal-header {
  background-color: var(--clr-orange);
  color: var(--clr-grey);
  padding: var(--pad-modal);
}

.modal-body {
  padding: var(--pad-modal);
}

.modal-content {
  animation-name: slideform;
  animation-duration: 0.5s;
  background-color: #fefefe;
  border: 1px solid #888;
  box-shadow: 0 .25rem .5rem 0 rgba(0,0,0,0.2),
              0 .375rem 1.25rem 0 rgba(0,0,0,0.4);
  margin: 15% auto;
  max-width: 1000px;
  padding: 1.25rem;
  position: relative;
  width: 80%;
}

@keyframes slideform {
  from { 
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: #aaa;
  background-color: crimson;
  float: right;
  font-size: 1.75em;
  font-weight: bold;
  line-height: 1rem;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}