.todo-title {
  font-size: 1.3rem;
  color: rgb(30, 8, 236);
  font-weight: bold;
  border: none;
}

#projects-data {
  text-align: center;
  border: none;
}

.project {
  margin-left: 600px;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(180, 137, 29);
}

.todo-content {
  font-weight: 100;
  background-color: darkolivegreen;
  color: black;
}
