.todo-title {
  font-size: 1.3rem;
  color: rgb(56, 230, 22);
  font-weight: bold;
  border: none;
}

#projects-data {
  text-align: center;
  border: none;
}

.project {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(202, 201, 197);
}

.todo-content {
  font-weight: 100;
  background-color: darkolivegreen;
  color: black;
}
