$yellow: rgb(221, 221, 21);
$grey: rgb(65, 64, 64);
$modal-padding:  5px;

.modal {
  background-color: rgb(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.show-form {
  display: block;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  background-color: $yellow;
  color: $grey;
}

.form-title {
  margin: 0.75rem 0.5rem;
  font-size: 1.25em;
  font-weight: bold;
}

.close {
  color: #aaa;
  background-color: crimson;
  font-size: 1.75em;
  font-weight: bold;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  align-self: flex-start;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  padding: $modal-padding;
}

.modal-content {
  animation-name: slideform;
  animation-duration: 0.5s;
  background-color: #fefefe;
  border: 1px solid #888;
  box-shadow:
    0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.2),
    0 0.375rem 1.25rem 0 rgba(0, 0, 0, 0.4);
  margin: 15% auto;
  max-width: 500px;
  position: relative;
  width: 80%;
}

@keyframes slideform {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}
