
.todo-title {
  font-size: 1.3rem;
  color: #1bbbeb;
  font-weight: bold;
  border: none;
}

.project {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(17, 0, 255);
}

.todo-content {
  font-weight: 100;
  background-color: rgb(196, 199, 191);
  color: black;
}

#project-list,
.project,
.todo {
  width: 500px;
}

.add-todo-btn {
  background-color: darken($color: #24db13, $amount: 0);
  background-image: linear-gradient(to top left,
                                  rgba(0, 0, 0, .2),
                                  rgba(0, 0, 0, .2) 30%,
                                  rgba(0, 0, 0, 0));
  border: 0;
  border-radius: none;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
  color: var(--clr-grey);
  font-size: 1rem;
  line-height: 2;
  margin-left: 100px;
  padding: 0 1.5rem;
  text-shadow: 1px 1px 1px #111;
}

.add-todo-btn:hover {
  cursor: pointer;
}

.delete-project-btn {
  background-color: darken($color: #b84a4a, $amount: 0);
  background-image: linear-gradient(to top left,
                                  rgba(0, 0, 0, .2),
                                  rgba(0, 0, 0, .2) 30%,
                                  rgba(0, 0, 0, 0));
  border: 0;
  border-radius: none;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
  color: var(--clr-grey);
  font-size: 1rem;
  line-height: 2;
  padding: 0 1.5rem;
  text-shadow: 1px 1px 1px rgb(5, 5, 5)
}

.delete-project-btn:hover {
  cursor: pointer;
}

.delete-todo-btn {
  background-color: darken($color: #b84a4a, $amount: 0);
  background-image: linear-gradient(to top left,
                                  rgba(0, 0, 0, .2),
                                  rgba(0, 0, 0, .2) 30%,
                                  rgba(0, 0, 0, 0));
  border: 0;
  border-radius: none;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
  color: var(--clr-grey);
  font-size: 1rem;
  line-height: 2;
  margin-left: 100px;
  padding: 0 1.5rem;
  text-shadow: 1px 1px 1px rgb(8, 8, 8)
}

.delete-todo-btn:hover {
  cursor: pointer;
}

.edit-todo-btn {
  background-color: darken($color: #0b2ada, $amount: 0);
  background-image: linear-gradient(to top left,
                                  rgba(0, 0, 0, .2),
                                  rgba(0, 0, 0, .2) 30%,
                                  rgba(0, 0, 0, 0));
  border: 0;
  border-radius: none;
  box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
              inset -2px -2px 3px rgba(0, 0, 0, .6);
  color: var(--clr-grey);
  font-size: 1rem;
  line-height: 2;
  padding: 0 1.5rem;
  text-shadow: 1px 1px 1px rgb(11, 240, 228)
}

.edit-todo-btn:hover {
  cursor: pointer;
}

p {
  color: blue;
  text-align: center;
}
